/*-----------------CSS de la page principale ----------------*/

body{
    width:100%;
    padding-top:0px;
    margin: 0%;
    background-color: #343a40;
}
a{
    cursor: pointer;
}
nav{
    opacity: 0.8;
}


ul.navbar-nav{
    padding-left:40%;
    padding-right:40%;
}

.navbar-nav > li {
    transition: background-color 1s, border-radius 1s;
    border-radius: 20px;
    transition-timing-function: linear;
    margin-right:10px ;
}

.navbar-nav > li:hover  {
    background-color:rgb(67, 130, 185);
    
}


#welcome_text{
    color: aliceblue;
    margin-top: 10px;
}

#logButtons{
  box-sizing: border-box;
}


#logButtons button{
    position: relative;
    padding: 10px;
    margin-right: 15px;
    width: 30%;
}

#logButtons button a{
   color: aliceblue;
   text-decoration: none;
}


#main-header{
    height: 100vh;
    width : 100%;
    background-image:url("../IMAGES/two-man-hiking-on-snow-mountain-869258.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-attachment: fixed;*/
} 
 

#main-title{
position: absolute;
text-align: center;
left: 10%;
top:20%;
/*border: 5px solid white;*/

}
#main-title h1{
    font-family: 'Staatliches', cursive;
    font-size: 150px;
    color: rgb(67, 130, 185);

}
#main-title p{
    font-family: 'Lobster', sans-serif;
    font-size: 35px;
    color: black;
}

.main-content{
    height:100%;
    background-color:#343a40 !important;
    padding-top: 2%;
    width: 100%;
    /*z-index: 2;*/
}

#search_bar{
    background-color:transparent;
    position: relative;
    box-sizing: border-box;    
    width: 50%;
    height: fit-content;
    left: 25%;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

#searchForm{
width: 100%;
margin-left: 20%;
}

#search_bar input{
    border-radius: 10px;
}

#search-btn{
    margin-left: 20px;
    width: 20%;
}

#search_content{
    float: left;
    width: 50%;
}
.row{
    width: 100%;
    padding-bottom: 2%;
    
}
.col-md-2{
    /* width : 100%; */
   /* transition-timing-function: linear;*/
    transition : transform 1s;
}

.col-md-2:hover{
transform: translateY(-20px);
cursor: pointer;
}
.card{
    width: 80%;
    color: #343a40;
    position: relative;
    left:40px;
    box-shadow: 0 4px 8px 0 rgba(243, 231, 231, 0.295), 0 6px 20px 0 rgba(243, 231, 231, 0.274);
}

.card-img-top{
    width: 100%;
    height: 5%;
    background-size: cover;
}

#MyRows{
    position: relative;
    margin-top:50px;
    width: 100%; 
    height: 100%; 
   
}
#eventInfo{
    width: 100%;
    height:100%;
    background-color: rgba(9, 9, 10, 0.877);
    position: fixed;
    top:0;
    display: none;
    z-index: 1;
}

#eventInfoContent{
    width: 50%;
    height:80vh;
    background-color: goldenrod;
    position: relative;
    top: 10%;
    left: 25%;
    border-radius: 10px;
    z-index: 3;
    bottom: 50%;
    color:white;
}

#moreInfo{
    height: fit-content;
}

#eventInfoContent h4{
    text-decoration: underline;  
}

  
#T_Event{
    color:black;
    width:fit-content ; 
    font-weight: bolder;
    text-align: center;
    margin-bottom: 30px;
}
  
#eventInfoImg{
    width: 50%;
    height:70%;
    border: 8px solid white;
    float: right;
}

#moreInfo{
    float: left;
    height: 100%;
}
.showMore{
    position: relative;
    left: 47%;
    padding-bottom: 20px;
    width: 50%;
}
#showMore{
    padding: 20px;
}
    
#errorInscr{
    width: fit-content;
}

.card-body #errorInscr{
    width:100%;
    margin-top : 20px;
}
footer{
    height: 10vh;
    background-color: gray;
    position: relative;
    background-color: gray;
}


/*********************************************************************************/
/*-----------------------------CSS de la partie PopUp------------------*/

#circle{
    width: 30px;
    height: 30px;
    background-color:white;
    border-radius: 100px;
    position: relative;
    left: 92%;
    bottom: 36px;
    z-index: 0;
}

#popUp-bg{
    width: 100%;
    height:100vh;
    background-color: rgba(9, 9, 10, 0.7);
    position: fixed;
    top: 0;
    display: none;
    z-index: 1;
    color : white;
    font-family: monospace;
    font-size: larger;
}
#popUp-bg p {
    text-decoration: underline;
}

#popUpContent{
    width: 40%;
    height:fit-content;
    padding-bottom:20px ;
    background-color:rgb(67, 130, 185);
    position: fixed;
    top: 10%;
    left: 35%;
    border-radius: 10px;
    z-index: 2;
}

#popUpClose{
    font-size: 30px;
    position: relative;
    left:92% ;
    width: 30px;
    cursor: pointer;
    color:rgb(36, 142, 235);
    padding-left: 5px;
    transition: transform 0.3s;
    z-index: 1;
}
#popUpClose:hover{
    transform: rotate(45deg);
}
#þopUpContent form{
    width: 100%;
    height: 100%;
}

#popUpContent input{
    width:90%;
    margin-top:20px;
    margin-left: 25px;
    display: block;
}

#popUpContent button{
    width:40%;
    margin: 20px;
    position: relative;
    left:25%;
}

#popUpContent button a{
 color: white;
 text-decoration: none;
}

#popUpContent input[type='submit']{
    width:40%;
    position: relative;
    left:24%;
}

#UserRole1{
    width: 30%;
    float:left;
    margin-left: 20px;
    margin-bottom: 30px;
}

#UserRole1 input{
  margin-top:0px;
  width: 100%;
}

#UserRole2{
    width: 30%;
    float:right;
    margin-right: 70px ;
    margin-bottom: 30px;
}
#UserRole2 input{
    margin-top : 0px;
    width: 100%;
}

#RoleEventSurferButton{
    background-color:"white";
    color:"black";
    border-radius:"20px";
    padding-top:"5px";
    padding-bottom:"5px";
}

#RoleContribButton{
    background-color:"white";
    color:"black";
    border-radius:"20px";
    padding-top:"5px";
    padding-bottom:"5px";
}

/*********************************************************************************/
/*-----------------------------CSS de la partie map------------------*/
#Map{
    height:50vh;
    width: 100%;
    background-color: rgb(67, 130, 185);
}

#map{
    background-color: aliceblue;
    width: 50%;
    height: 50vh;
    float: right;
}

#events{
    background-color: rgb(67, 130, 185);
    width: 50%;
    height: 50vh;
    float: left;
}


/*********************************************************************************/
/*-----------------------------CSS de la partie Dashboard------------------*/

#User-header{
    width:15%;
    height:100%;
    float: left;
    background-color:white;
    position: fixed;
}
#User-dash{
    width:100%;
    height:100%;
}

.info{
    background-color:goldenrod;
    width:100%;
    height:22vh;
    color:white;
    font-family: monospace;
}

.info p {
    position: relative;
    top:20px;
    left:20px;
    font-size: larger;
    color: black;
}

#profilePic{
    border-radius: 100px;
    width: 30%;
    position: relative;
    top:30px;
    left: 70px;
}

#onglets{
    height:100%;
}

#onglets a{
    margin-top: 20px;
    transition: color 1s;
    transition-timing-function: ease;
    border-radius: 50px;
    text-align: center;
    color: rgb(67, 130, 185);
}


#logOut{
    margin-top: 50px;
    margin-bottom: 5    0px;
    color: black;
    text-align: center;
}

#dashboardFooter{
    background-color :goldenrod;
    margin-top: 100%;
    height:100%;
    color: aliceblue;
    font-size: large;
}

#Users-Content{
    height: 100%;
    min-height: 100vh;
    width:85%;
    background: #343a40;
    float: right;
}
#NoUserEvents{
    background-color: lightblue;
    width: 60%;
    height: 7vh;
    position: relative;
    top: 40%;
    left:20%;
    text-align: center;
}
#NoUserEvents  p{
    position: relative;
    top: 20px;
}

#AjoutEventPopUpClose{
    font-size: 30px;
    position: relative;
    left:95% ;
    width: 30px;
    cursor: pointer;
     transform : rotate(45deg);
    color: aliceblue;
}

#ajoutEvent{
        position: relative;
        left:40%;
        margin-bottom: 5%;
}

#AddEventRightForm{
    float: left;
    width: 50%;
}


#AddEventLeftForm{
float: right ;
width: 50%;

}

#ContribTable{
    width: 70%;
    height: 100%;
    background-color: white;
    margin-left: 10%;
    margin-bottom: 50%;
}

.ContribTable{
    width: 100%;
    height: 100%;
}


.ContribTable th{
    background-color: goldenrod;
    padding: 5px;
    color: black;
}

.ContribTable td{
    padding: 8px;
}
.ContribTable tr:nth-child(odd){
    background-color:rgb(67, 130, 185);
    color: white;
    
}

#AllUsersTable{
    width: 70%;
    height: 100%;
    background-color: white;
    margin-left: 10%;
    margin-bottom: 50%;
}

.UsersTable{
    width: 100%;
    height: 100%;
}


.UsersTable th{
    background-color: goldenrod;
    padding: 5px;
    color: black;
}

.UsersTable td{
    padding: 8px;
}
.UsersTable tr:nth-child(odd){
    background-color:rgb(67, 130, 185);
    color: white;
    
}





/*********************************************************************************/
/*-----------------------------CSS de la partie Contact------------------*/

#contact-container{
    height: 100%;
    width:70%;
    background: rgb(36, 142, 235);
    position: relative;
    top:20%;
    left:10%;
    border-radius: 20px;
    margin-left: 5%;
    color:white;
}

#contact-form{
    height: 100%;
    margin-bottom: 30%;
    margin-top:30%;
    text-align: center;
}

#contact-container h2{
    text-align: center;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
}
#contact-left-inputs{
    float:left;
    width:50%;
    height: 100%;
}

#contact-right-inputs{
    float:right;
    width:50%;
    height: 100%;
}

.emailContent{
    width: 60%;
    margin-top: 10px;
}
#submitContactForm{
    margin-top: 40px;
}